$button-background-color:#ff7607;
$button-text-color:white;
$dark-text-color:#535c65;
$light-text-color:#e9e9e9;
$dark-background-color:#30353b;
$light-background-color :#f0f1f1;
$footer-text-color: #cccccc;
$logo-background-color:#e2e3e3;
$logo-background-color-white:white;
$more-information-background-color-white:white;