<section id="moreInformationSection" *ngIf="display==true">
  <img src="../../../assets/svg/cross.svg" alt="cross" (click)="close()">
  <article>
    <header>
      More Information:
    </header>
    <hr>
    <p>As you know my name is Amin Kamalinia and I graduated from master degree. My major is software engineering.
      I am punctual, neat, loyal, good team player and fast learner person.
      In addition to them I am good in C#, dotnet core webapi, sql, html, css, scss, angular, typescript,
      jquery and javascript
    </p>
  </article>
</section>